label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
}

td,th {
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #aaa;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}
.thead {
  background-color: #002154;
  color: white;
}
body {
  background-color: #eff7ff;
}

header {
  padding: 50px;
  text-align: center;
  background-color: #002154;
  color: white;
}

footer {
  width: 25%;
  margin: auto;
  text-align: center;
}

.far, .fas {
  color: black;

}




#mainIndex {
  width: 65%;
  margin: auto;
  padding-top: 50px;
}

.col-sm-3 {
  border-style: ridge;
  padding: 10px;
  width:50%;
  margin:auto;
  text-align: center;
  background-color: #002154;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 20px;
}

#createMain {
  width: 50%;
  margin:auto;
  padding-top: 50px;
}

#mainRead {
  width: 25%;
  margin:auto;
  padding-top: 25px;
}

#mainReadResults {
  width:50%;
  margin:auto;
  padding-top: 50px;
}

#mainUpdate {
  width:50%;
  margin: auto;
  padding-top: 25px;
}


* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color:  #002154;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color:  #002154;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color:  #002154;
  	transition: background-color 0.2s;
}

#logout {
  margin-top: -45px;
  margin-left: 240px;
}

.back {
  text-align: center;
}
